.header__logo {
  max-width: 142px;
  min-height: 33px;

  margin: 45px 0 41px 0;

  background-image: url(../../../../src/images/logo.svg);
  background-repeat: no-repeat;
}

/* Media =====
================= */

@media screen and (max-width: 630px) {
  .header__logo {
    max-width: 103px;
    min-height: 24px;

    margin: 0 0 31px 27px;
    background-size: contain;
  }
}
