.entrance {
  max-width: 358px;
  min-height: 77vh;

  display: flex;
  flex-direction: column;
  margin: 60px auto 0 auto;
  align-items: center;
}

/* Media =====
================= */

@media screen and (max-width: 370px) {
  .entrance {
    max-width: 80vw;

    margin: 40px auto 0 auto;
  }
}
