.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);

  max-width: 880px;

  margin: 0 auto;

  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Media =====
================= */

@media screen and (max-width: 900px) {
  .header {
    max-width: 600px;
  }
}

@media screen and (max-width: 630px) {
  .header {
    margin: 28px auto 0;
  }
}
